/* General Styles */


body {
    font-family: "Avenir Next";
    padding-top: 10px;
    /*background: #F8EEE7;*/
}

@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }

h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 24pt;
}

/*h2 {
    text-align: center;
}*/

h3 {
  color: white;
}

.boxed {
  /*background-color: #F4DECB;*/
  padding-bottom: 20px;
}

.second {
  padding-top: 10px;
  background-color: #94618E;
  padding-bottom: 20px;
  color: white;
}

.column {
    float: left;
    width: 50%;
}

.columnleft {
    padding-left: 250px;
    float: left;
    width: 40%;
}

/* .columnright {
  padding-right: 250px;
  display: block;
  margin: 10px auto;
    float: right;
    width: 60%;
}*/

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: red;
}

p {
    max-width: 800px;
    display: block;
    margin: 10px auto;
    font-size: 14pt;
    width: 70%;

}


/* Page styles */
footer, header {
    list-style-type: none;
    overflow: hidden;
    padding: 12px;
    background-color: #323232;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid black;
    border-radius: 32px 32px 0 0;
    color: white;
    text-align: left;
    padding-bottom: 10px;
}

footer {
    /*border-top: 1px solid black;*/

    color: white;
    border-radius: 0 0 32px 32px;
    text-align: center;
    font-size: 12pt;
    padding-bottom: 10px;
}

/*#special {
  width: 100%;
  text-align: justify;
}*/

.last {
    text-align: : left;
}

section {
    padding: 5px;
}

#content {
    background-color: #FFF;
    /* alternate way to center element */
    margin: auto;
    width: 100%;
    border-radius: 32px;
}


/* Navigation bar */
navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-left: 0px;
    background-color: #49274A;
    font-size: 12pt;
    line-height: 150%;
}
}

navbar li {
}

navbar li.last {
}

navbar a {
    color: white;
    display: block;
    padding: 8px;
    margin: 2px;
    text-align: left;
    text-decoration: none;
    padding-left: 250px;
}

/* Drinks list */
.title {
    font-weight: bold;
}

#columns img {
    float: left;
    height: 50px;
    padding: 0 20px 0 0;
}

#columns li {
    list-style: none;
}

.dropdown {
  float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    list-style: inherit;
    background-color: inherit;
    font: inherit;
    margin: 0;
    padding-left: 250px;
}

.dropdown-content {
    padding-left: 250px;
    display: none;
    position: absolute;
    background-color: #49274A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}
