<!DOCTYPE html>
<html lang="en">

<head>
        <title> Cards </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Rikki Kendall">
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
<!--
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> 
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <link rel="stylesheet" href="/trello/trello.css">

<!--        <script src="cards.js" async></script>-->
</head>
<body>
<div id="app" style="background-color: aqua">
    <div id="nav">
            <h1> GET YOUR LIFE TOGETHER </h1>
        <h3> Instructions: </h3>
        <p> 1. Type to Add List   2. Click to Add Card    3. Click on Card to Open Modal </p>
    </div>

<div id="login" v-show="!login">
    StartScreen to Enter User 
    <template>
        <div class="start">
            <label> Begin by Entering Your Information </label>
                <form @submit.prevent="storeImage">
                    <div class="form-group">
                        <div class="form-group">
                                <label>Name</label>
                                    <input v-model="Name" type="name" class="form-control" id="Name" placeholder="Enter name">
                            </div>
                            <label>Email address</label>
                            <input v-model="Email" type="email" class="form-control" id="Email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <p>
                            <label for="imgTitle">Image</label>
                        </p>
                        <input type="file" id="files" name="files[]" />
                    </div>
                        <button type="submit" class="btn">Submit</button>
                </form>
        </div>

    </template>
    </div>
<!-- USER PROFILE PART and NAVBAR  -->
<!--
    <div class="navbar">
         <form class="form-inline">
        </form>
    </div>
-->


<div class="container">
                                    <!--    Create A List -->
        <div class="CreateList">
            <input class="card-input" placeholder="Create a list" v-model="ListName" @keyup.enter="newList">
        </div>
    
        <div v-for="(list, listIndex) in lists" class="list" :class="{'HorizontalList': horizontal}" :key="list.id" :data-key="list.id">
                    <!--   LIST TITLE     -->
            <h2 @click="ChangeListName=list.id" v-show="ChangeListName!==list.id"> {{ list.title }} </h2>
    
            <input v-focus class="Change Name" v-show="ChangeListName===list.id" @keyup.enter="ListTitle" v-model="list.title">
                <!--            FOR THE CARDS     -->
<!--            <div class="cards-wrapper" v-show="!list.collapsed" :class="{'cards-wrapper-horiz':horizView}">-->
                    <div class="Card Container":class="{'horizontalcard': horizontal}" v-for="(card, cardIndex) in list.cards" @click="PopUp(card)" :key="card.id">
<!--            <div class="card" :class="{'horizontal card': horizontal}" v-for="(card, cardIndex) in list.cards" v-show="currentCategory == card.category || currentCategory == ''" @click="showCardModal(card)" :key="card.id" >-->
                            <p>{{ card.Name }}</p>
                    </div>
              <div class="add-card" @click="See=list.id" v-show="See!==list.id"> 
                  <button> Add A Card </button>
              </div>
            <input v-focus class="Change Card" v-show="See===list.id"  @keyup.enter="newCard(list)" v-model="list.ChangeText" >
        </div>
</div>
    
    <!--  POP UP  -->
<div class="modal" v-show="CardClicked">
    <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;" v-if="CardClicked">
      <form method="post" action="/action_page_post.php">
        <div>
            <h2 class="Card Name" @click="ChangeCard=true"v-show="!ChangeCard"> {{ CardClicked.Name }}</h2>
            <input class="Card Name" v-show="ChangeCard" @keyup.enter="CardItself"v-model="CardClicked.Name">
                <h3 class="Card Description" @click="ChangeCard=true"v-show="!ChangeCard"> {{ CardClicked.Description }}</h3>
              <input class="Card Description" v-show="ChangeCard" @keyup.enter="CardDescription"v-model="CardClicked.Description">
                <h3 class="Card DueDate" @click="ChangeCard=true"v-show="!ChangeCard"> {{ CardClicked.DueDate }}</h3>
              <input class="Card Description" v-show="ChangeCard" @keyup.enter="CardDueDate"v-model="CardClicked.DueDate">
        </div>
      </form>
    </div>
</div>
        </div>
    <script src="cards.js"></script>
    </body>
</html>
