<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Rikki Kendall">
        <meta http-equiv="Cache-Control" content="no-cache" />
<!--
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> 
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <link rel="stylesheet" href="trello.css">
            <title> Cards </title>
<!--        <script src="cards.js" async></script>-->
</head>
<body>
<div id="app">
    <div class="nav-bar">
    <form name="Bckgrd"> Customize Your Page:
        <select onchange="document.bgColor=this.options[this.selectedIndex].value">
            <option value="FFFFFF">Choose Background </option>  
            <option value="CCFFFF">Aqua Blue </option>
            <option value="#58FA58">Green </option>
            <option value="#0000FF">Blue </option>
            <option value="FFFFFF">White </option>
        </select>
    </form>
    <button class="button" @click="ChangeOrientation">Change Layout</button>
    <button class="button"@click="ChangeUser=true"> Change User Info </button>
        <div class="modal-in" v-show="ChangeUser">
        <div class="change">
         <h2> Change User Info </h2>
        <label>Username</label>
          <input class="input" v-model="name" placeholder="Name">
                  <label>Email</label>
          <input class="input" v-model="email" placeholder="Email">
          <button class="btn" @click="ChangeUserInfo"> Change </button>
            
<!--             <input type="file"  @change="storeImage(user)" v-bind:id="user.image" >
                            
             <img class = "modal-image" :src="user.image" alt="no image"> -->

                 <input id="card-image-upload" type="file" name="pic" accept="image/*" @change="uploadImage">
<!--               <img v-show="CardClicked.image"> --> 
        </div>
      </div>
    </div>
    <div class="nav">
            <h1> GET YOUR LIFE TOGETHER </h1>
<!--
        <div class="dropdown">
            <button class="dropbtn">Add Deadlines</button>
            <div class="dropdown-content">
                <a href="https://calendar.google.com/calendar/embed?src=rmgmj4t9ikp8gfbpl5tf5pesj4%40group.calendar.google.com&ctz=America%2FNew_York">Google Calendar</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
-->
        <h3> Instructions: </h3>
        <p> 1. Type to Add List   2. Click to Add Card    3. Click on Card to Open Modal </p>
        <h3> Activity Log </h3>
            <ul v-for="History in Logs">
                {{History}}
            </ul>

      <div class="modal" v-show="!login">
          <!--                <form @submit.prevent="Pic">-->
        <div class="login">
            <h2> Please Login</h2>
            <label>Username</label>
          <input class="input" v-model="name" placeholder="Pick Username">
            <label>Email address</label>
          <input class="input" v-model="email" placeholder="Enter Email">
          <button class="button" @click="PastUser">Log In</button>
          <button class="button" @click="NewUser">Register</button>
<!--
                                <div class="login">
                            <h3 class="login">Add Your Profile Picture</h3>
                        <input type="file" id="files" name="files[]">
                    </div>
                <button type="submit" class="button">Submit</button>-->
        </div>
      </div>
  </div>
<!-- USER PROFILE PART and NAVBAR  -->

    <div class="container">                    <!--    Create A List -->
        <ul id="card-list" :style="{ 'display' : Orientation }">
        <div class="CreateList">
            <input class="card-input" placeholder="Create a list" v-model="ListName" @keyup.enter="newList">
        </div>
        
        <div v-for="(list, index) in lists" class="list" :class="{'HorizontalList': horizontal}" :key="list.id" :data-key="list.id">
                    <!--   LIST TITLE     -->
            <h2 @click="ChangeListName=list.id" v-show="ChangeListName!==list.id"> {{ list.title }} </h2>
                    <button class="button" @click.stop="GetRidList(index)"> Remove List </button>
    
            <input  class="Change Name" v-show="ChangeListName===list.id" @keyup.enter="ListTitle" v-model="list.title">
                <!--            FOR THE CARDS     -->
                    <div class="Card Container":class="{'horizontalcard': horizontal}" v-for="(card, cardIndex) in list.cards" @click="PopUp(card)" :key="card.id">
                            <p>{{ card.Name }}</p>
                    </div>
              <button class="button" @click="See=list.id"  v-show="See!==list.id">  Add a Card </button>
                <button class="button" @click.stop="GetRidCard(index, cindex)"> Remove Card </button>
            <input  class="Change Card" placeholder="New Card Name" v-show="See===list.id"  @keyup.enter="newCard(list)" v-model="list.ChangeText" >
        </div>  
        </ul>
    </div>
    
    <!--  POP UP  -->
<div class="modal-in" v-show="CardClicked">
    <div data-role="popup" id="myPopup" class="ui-content" style="min-width:150px;" v-if="CardClicked">
      <form>
        <div>
            <p>Click Title to Edit Details: </p>
            <h2 class="Card Name" @click="ChangeCard=true" v-show="!ChangeCard"> {{ CardClicked.Name }} </h2>
            <input class="Card Name" v-show="ChangeCard" @keyup.enter="CardItself" v-model="CardClicked.Name">
            <p> Created: {{ CardClicked.time }} </p>
                <h3 class="Card Description" @click="ChangeCard=true" v-show="!ChangeCard"> {{ CardClicked.Description }}</h3>
              <input class="Card Description" placeholder="Add Description" v-show="ChangeCard" @keyup.enter="CardDescription" v-model="CardClicked.Description">


                <h3 class="Card DueDate" @click="ChangeCard=true" v-show="!ChangeCard"> Due Date: {{ CardClicked.DueDate }}</h3>
              <input class="Card DueDate" placeholder="Add Due Date" v-show="ChangeCard" @keyup.enter="CardDueDate" v-model="CardClicked.DueDate">

            <input class="Card Category" placeholder="Add Category" v-show="ChangeCard" @keyup.enter="NewCategory" v-model="CardClicked.Category">
               <h3 class="Card Category"> Category: </h3> <p>{{ CardClicked.Category }}</p>

                <h3>Add Some Todos Below: </h3>
                <div v-for="(StackTodo, index) in CardClicked.stack">
                  <p>{{ StackTodo }}</p>
                </div>
                <input placeholder="Add a TODO" v-model="text" @keyup.enter="StackTodo(CardClicked)">
              </div>
<!--                 <select id="change_chart" v-show="ChangeCard" onchange="optionsSelect(this.value)" v-model="CardClicked.Category">
                    <option value="Select Option" selected>Select Option</option>
                    <option value="To-Do">To-Do</option>
                    <option value="Personal">Personal</option>
                </select> -->
              <div class="comments" v-if="CardClicked">
                  <h3>Comments</h3>
                  <div v-for="(Comments, index) in CardClicked.Comments">
                    <p>{{ Comments.Who }}: {{ Comments.What }}</p>
                  </div>
                  <input placeholder="Add a comment" v-model="Comment" @keyup.enter="CommentSomething(CardClicked)">
                </div>

                 <input id="card-image-upload" type="file" name="pic" accept="image/*" @change="uploadImage">
<!--                  <img v-for="image in CardClicked.images" :src="image" alt="image"> -->

      </form>
    </div>
</div>
<!--<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=rmgmj4t9ikp8gfbpl5tf5pesj4%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
        </div>
    <script src="cards.js"></script>
    </body>
</html>
