
.body {
    position: fixed;
    width: 100%;
    top:-20px;
    background-size: cover;
    -webkit-filter: blur(0px);
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="1"] { /* value not val */
    background: rgba(100, 100, 100, 0.3);
}

select option[value="2"] { /* value not val */
    background: rgba(200, 200, 200, 0.3);
}

.button {
    background: #65a9d7;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
   font-size: 14px;
   font-family: Georgia, serif;
}

.modal-image{
    width: 14.7%;
}
/*
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: blue;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/
.green option{
        background-color:#0F0;
}

.blue option{
        background-color:#00F;
}

.list, .CreateList {
  font-size: 12px;
  width: 300px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  display:inline-block;
  vertical-align: top;
  margin-right:10px;
  margin-bottom: 10px;
  position: relative;
}

.HorizontalList {
  width: auto;
  display:block;
}

.modal {
  background-color: rgb(47, 29, 29);
  height: 50vw;
}

.nav {
  font-family:monospace;
}


.login {
    color: azure;
}

.header{
    color: #fff;
}

html {
    
}
.screen {
    min-height: 100%;
    min-width: 100%;
	position: absolute;
}

.container {
    float: left;
}
.login{
    color: white;
   font-size: 14px;
   vertical-align: middle;
}
.nav-bar {
    margin: 0;
    font-size: 100%;
    width: auto;
 }
.nav-item label {
    border: solid white 2px;
    margin: 2px;
}
.nav-item label:hover {
    color: white;
}

/*modal css taken and modified from Vue tutorial on modals*/
.modal-out {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
/*positions the modal in the center of the page vertically*/
.modal-mid {
    display: table-cell;
    vertical-align: middle;
}
/*styles the modal box*/
.modal-in {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 30px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.inlist {
    height: 100px;
/*    font-size: 10pt;*/
    overflow: scroll;
    padding: 10px;
}

.pics {
    text-align: center;
/*    align-content: center;*/
    height: 250px;
    overflow: scroll
}
